#rgrid {
    position: absolute;
    height: 800px;
    width: 800px;
    margin-left: 100px;
    border: solid black 1px;
    background-image: url('20x20grid.png');
    background-size: 800px 800px;
    float: left
}


#pgrid {
    position: absolute;
    height: 800px;
    width: 600px;
    margin: 10px;
    border: solid black 1px;
    background-size: 500px 500px;
    float: left;
    left: 920px;
    top: 54px;
}

.point {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: blue;
    border-radius: 5px;
}

#player {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: green;
    border-radius: 20px;
    opacity: 0.5;
}

#playercenter {
    position: relative;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 5px;
    top: 15px;
    left: 15px;
    opacity: 1;
}

#p1 {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: rgb(0,0,0);
    border-radius: 7px;
    border: solid black 2px;
}

#scoredisplay {
    width: 350px;
    float: left;
}

#maxscore {
    width: 200px;
    float: left;
}

#details {
    width: 800px;
    float: left;
}

#timedisplay {
    width: 200px;
    float: left;
}